<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>FEED READER APP</title>
</head>
<body class="app" id="app">
<header class="global_header">
    <h1>FEED READER APP</h1>
    <div id="statusbar">
       <p class="status device pending">Connecting to Device</p>
       <p class="status device complete">Device is Ready</p>
       <p class="status data pending">Loading Data</p>
       <p class="status data error">Error Loading Data</p>
    </div>
</header>

<a name="nav"></a>
<menu id="index_list" class="page index">
</menu>

<section id="pages">
</section>



<!-- Templates -->
<script type="text/template" id="listitem-template">
    <li class="indexitem">
        <a href="#<%= binder_id %>">
            <img src="<%= thumb64 %>" class="thumb" width="85" />
            <h1><%= headline %></h1>
            <time><%= publisheddate %></time>
            <p><%= leadin %></p>
        </a>
    </li>
</script>

<script type="text/template" id="article-template">
    <article id="<%= binder_id %>" class="page binder">
        <header>
            <h1><%= headline %></h1>
            <time><%= publisheddate %></time>
        </header>
        <div class="content">
            <h3><%= leadin %></h3>
            <img src="<%= thumb64 %>" class="thumb" width="160" />
            <%= body %>
        </div>
        <footer>
            <a href="#nav" class="button back">Back to top &uarr;</a>
        </footer>
    </article>
</script>


<!-- libs -->     
<script src="js/json2.js"></script>
<script src="js/jquery.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<!-- script src="js/backbone-localstorage.js"></script>  -->
<!-- app core -->
<script src="js/core.js"></script>
<!-- page/ui scripts -->
<script src="js/index.js"></script>

<script type="text/javascript">
    app.initialize("js/feed.json");
    
 /* for dev...
    $(document).ready(function(){
        app.deviceready();
    });
 */
</script>    
</body>
</html>
